      <img src="/assets/images/raubkopierer-banner.jpg" style="display: block; margin-left: auto; margin-right: auto; margin-top: 1em;"/> 
      <footer class="site-footer">
        <span class="site-footer-credits">Du kannst hier mitwirken: Die Entwicklung der Webseite findet offen auf <a href="https://github.com/duraphilms/duraphilms.github.io/">GitHub</a> statt!</span>
        <span class="site-footer-credits" style="float: right;">SynchroMirrors Version 4.2</span>
      </footer>
    </main>
  </body>
</html>
