{% if page.playlist == "PvA" %}
      <div style="display: block; margin-left: auto; margin-right: auto; margin-top: 1em;">
        <img src="/assets/images/banner-rette-deine-freunde.jpg"/> 
        <img src="/assets/images/banner-schalten-sie-ein.jpg"/> 
      </div>
{% else %}
      <img src="/assets/images/raubkopierer-banner.jpg" style="display: block; margin-left: auto; margin-right: auto; margin-top: 1em;"/> 
{% endif %}
      <footer class="site-footer">
        <span class="site-footer-credits">Du kannst hier mitwirken: Die Entwicklung der Webseite findet offen auf <a href="https://github.com/duraphilms/duraphilms.github.io/">GitHub</a> statt!</span>
        <span class="site-footer-credits" style="float: right;">SynchroMirrors Version 4.7</span>
      </footer>
    </main>
  </body>
</html>
