<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/w3css.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <title>{{ page.title }}</title>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <img class="page-header" role="banner" style="width: 100%; border-bottom: 1px solid #159957;" src="/assets/images/banner.jpg"></img>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Du kannst hier mitwirken: Die Entwicklung der Webseite findet offen auf <a href="https://github.com/duraphilms/duraphilms.github.io/">GitHub</a> statt!</span>
	<span class="site-footer-credits" style="float: right;">SynchroMirrors Version 4.0</span>
      </footer>
    </main>
  </body>
</html>
