{% include header.html %}

{% for playlist in site.data.videos %}
{% if playlist.short == page.playlist %}

<h1>{{ playlist.title }}</h1>


{% for video in playlist.videos %}
<div class="w3-card w3-margin w3-animate-opacity" style="height: 11.3em;">
{% unless video.available_soon %}
    <a class="w3-left" href="/{{ playlist.short }}/{{ video.id }}">
{% endunless %}
        <div class="w3-display-container w3-left w3-margin-right" style="width: 20em; height: 11.3em; background: #000000;">
            <img class="w3-display-middle" style="width: 20em;" alt="Thumbnail" src="/thumbs/{{ playlist.name }}_{{ video.id }}.small.jpg">
        </div>
{% unless video.available_soon %}
    </a>
{% endunless %}

    <div class="w3-margin w3-padding" style="display: block; height: 100%; overflow-y: scroll;">
{% unless video.available_soon %}
        <a href="/{{ playlist.short }}/{{ video.id }}">
{% endunless %}

{% if video.title %}
            <h3>{{ video.title }}</h3>
{% else %}
            <h3>Teil {{ video.id }}</h3>
{% endif %}

{% unless video.available_soon %}
        </a>
{% endunless %}
        <small style="float: right;">{{ video.date | date_to_string }}</small>

{% if video.available_soon %}
        <i><h5>Demnächst™ verfügbar</h5></i>
{% else %}
        {% assign versions = "" %}
        {% for upload in video.uploads %}
            {% if upload.enabled %}
                {% assign versions = versions | append: upload.version %}
                {% assign versions = versions | append: "|" %}
                {% if upload.resolution < 1000 %}
                    {% assign versions = versions | append: "0" %}
                {% endif %}
                {% assign versions = versions | append: upload.resolution %}
                {% assign versions = versions | append: "," %}
            {% endif %}
        {% endfor %}

        {% assign versions = versions | split: "," | uniq | sort %}

        {% assign last_version = "" %}

        {% for ver in versions %}
        {% assign version_and_res = ver | split: "|" %}
        {% assign version = version_and_res[0] %}
        {% assign resolution = version_and_res[1] | plus: 0 %}

        <p class="w3-small" style="display: block;">
            <span style="display: inline-block; width: 8em; height: 0em;">
                {% unless version == last_version %}
                <b>{{ version | upcase }}</b>
                <br/>
                {% endunless %}
                {{ resolution }}p
            </span>

            <span>
                {% assign upload_no_include_res = true %}
                {% for upload in video.uploads %}
                {% if upload.enabled and upload.version == version and upload.resolution == resolution %}
                {% include upload.html %}
                {% endif %}
                {% endfor %}
            </span>
        </p>
        {% assign last_version = version %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}

{% endif %}
{% endfor %}

{% include footer.html %}
